<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden border-b border-gray-200">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="{{tableHeaderClass}}">
                
                </th>
                <th scope="col" class="{{tableHeaderClass}}">
                  Prog
                </th>
                <th scope="col" class="{{tableHeaderClass}}">
                  Module
                </th>
                <th scope="col" class="{{tableHeaderClass}}">
                  Code
                </th>
                <th scope="col" class="{{tableHeaderClass}}">
                  Module Name
                </th>
              </tr>
            </thead>
            <tbody *ngIf="myModules.length !== 0" class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let module of myModules">
                <td class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium">
                    <a href="#" class="text-red-400 hover:text-red-600">Select</a>
                </td>
                <td class="{{tableItemClass}} uppercase">
                  {{module.course_id}}
                </td>
                <td class="{{tableItemClass}} uppercase">
                  {{module.module}}
                </td>
                <td class="{{tableItemClass}} uppercase">
                  {{module.code}}
                </td>
                <td class="{{tableItemClass}} uppercase">
                  {{module.name}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
